pydantic
pydantic-xml
xsdata[cli,lxml,soap]
pandas
numpy==1.23.0
jupyter
sidetable
seaborn 
matplotlib
contractions
spacy==3.5.0
xgboost
imbalanced-learn
wordcloud
gensim
tensorflow
scikit-learn
datasets
#pickle
torch>=2.0.0
transformers[torch]>=4.30.0
accelerate>=0.20.1
